# dependencies
/node_modules

# testing
/coverage

# production build
/build
/dist

# misc
.DS_Store
.env
.env.*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs and editors
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
Thumbs.db
ehthumbs.db
Icon?
*.swp
*.lock

# TypeScript
*.tsbuildinfo

# Optional: if using React Native WebView or service workers
/service-worker.js
/precache-manifest.*
/asset-manifest.json

# Optional: if using eslint or stylelint cache
.eslintcache
.stylelintcache